$pinkLight: #ff4081;
$pinkColor: #f50057;
$pinkDark: #c51162;
$pink100: #f8bbd0;
$pink200: #f48fb1;
$pink300: #f06292;
$blueLight: #448aff;
$blueColor: #2979ff;
$blueDark: #2962ff;
$blue100: #bbdefb;
$blue200: #90caf9;
$blue300: #64b5f6;
$purpleLight: #e040fb;
$purpleColor: #d500f9;
$purpleDark: #a0f;
$purple100: #e1bee7;
$purple200: #ce93d8;
$purple300: #ba68c8;

$redLight: #ff5252;
$redColor: #ff1744;
$redDark: #d50000;
$red100: #ffcdd2;
$red200: #ef9a9a;
$red300: #e57373;
$greenLight: #69f0ae;
$greenColor: #00e676;
$greenDark: #00c853;
$lightGreenLight: #b2ff59;
$lightGreenColor: #76ff03;
$lightGreenDark: #64dd17;
$yellowLight: #ff0;
$yellowColor: #ffea00;
$yellowDark: #ffd600;
$orangeLight: #ffab40;
$orangeColor: #ff9100;
$orangeDark: #ff6d00;
$deepOrangeLight: #ff6e40;
$deepOrangeColor: #ff3d00;
$deepOrangeDark: #dd2c00;
$greyLight: #616161;
$greyColor: #424242;
$greyDark: #212121;
$grey100: #f5f5f5;
$grey200: #eee;
$grey300: #e0e0e0;

$primaryLight: $pinkLight;
$primaryColor: $pinkColor;
$primaryDark: $pinkDark;
$secondaryLight: $blueLight;
$secondaryColor: $blueColor;
$secondaryDark: $blueDark;
$defaultLight: $purpleLight;
$defaultColor: $purpleColor;
$defaultDark: $purpleDark;
